---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import LivFeature from '../components/LivFeature.astro';
import Advisory from '../components/Advisory.astro';
import Writing from '../components/Writing.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <main class="page">
    <Nav />
    <Hero />
    <LivFeature />
    <Advisory />
    <Writing />
    <Footer />
  </main>
</Base>
